body {
  background-color: #02060f;
  text-align: center;
  margin-top: 50px;
}

.h1style {
  color: #b8b8b8;
  font-size: 6rem;
  font-weight: 400;
  margin: 0 0 30px 0;
}

.btnStart {
  background-color: #38BDF8;
  height: 40px;
  width: 400px;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  border: 0px solid #000;
  border-radius: 8px;
}

.btnPauseOrResume {
  height: 40px;
  width: 195px;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  border: 0px solid #000;
  border-radius: 8px;
  margin: 5px;
}

.btnColorResume {
  background-color: #2DD4BF;
}

.btnColorStop {
  background-color: #F4BF50;
} 

.btnLapOrReset {
  height: 40px;
  width: 195px;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  border: 0px solid #000;
  border-radius: 8px;
  margin: 5px;
}

.btnColorReset {
  background-color: #FB7085;
}

.btnColorLap {
  background-color: #818CF8;
}

.tableLapsList {
  color: #b8b8b8;
  margin: 40px auto 25px;
}

tbody {
  color: #8f8f8f;
  text-align: left;
}

th,
td {
  padding: 8px;
}

td {
  font-size: 14px;
}

.clearLaps {
  background-color: inherit;
  color: #FB7085;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: 1px solid #FB7085;
  font-size: 16px;
  border-radius: 8px;
  margin: 10px;
  padding: 10px 30px;
}
